# Build
firmware/build/
firmware/*.o
firmware/*.elf
firmware/*.bin
firmware/*.hex
firmware/*.map

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/c_cpp_properties.json
!.vscode/extensions.json
.idea/
firmware/.cache/
firmware/compile_commands.json
*.swp
*~
.DS_Store

# KiCad (future)
hardware/**/*.bak
hardware/**/*-backups/
hardware/**/*.kicad_prl

# Secrets
.env
*.pem
