CompileFlags:
  CompilationDatabase: .
  Remove:
    - -fno-move-loop-invariants
    - -mcpu=*
    - -mthumb
    - -mfpu=*
    - -mfloat-abi=*
    - -Wa,*
    - -MMD
    - -MP
    - -MF*
    - -alms=*
  Add:
    - -Wno-unknown-warning-option
